[Unit]
Description=Run usbdump.sh for USB drive on %i
BindsTo=dev-%i.device
After=dev-%i.device

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c 'source /etc/environment && $USBDUMP_DIR/usbdump.sh %I'

[Install]
WantedBy=multi-user.target